<!DOCTYPE html>
<html lang="en-gb" dir="ltr" class="uk-height-1-1">

<head>
    <title>Магазин игрушек - регистрация</title>
    <link rel="shortcut icon" href="../static/img/logo.png" type="image/png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/uikit.min.css"/>
    <script src="../static/js/uikit.min.js"></script>
    <script src="../static/js/uikit-icons.min.js"></script>
</head>

<body>

<a href="#" class="uk-margin-small-top uk-margin-small-left">
    <img width="75" height="50" alt="" uk-img="../static/img/home.png"
         class="uk-margin-small uk-margin-small-top uk-margin-small-left">
</a>

<div class="uk-text-center uk-margin-large-top">
    <form>
        <div class="uk-margin">
            <img width="75" height="50" alt="" uk-img="../static/img/logo.png">
            <p class="uk-text-large uk-text-secondary">Регистрация</p>
        </div>

        <div class="uk-margin">
            <div class="uk-inline">
                <span class="uk-form-icon" uk-icon="icon: user"></span>
                <input class="uk-input" type="text" placeholder="Имя пользователя">
            </div>
        </div>

        <div class="uk-margin">
            <div class="uk-inline">
                <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
                <input class="uk-input" type="password" placeholder="Введите пароль">
            </div>
        </div>

        <div class="uk-margin">
            <div class="uk-inline">
                <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
                <input class="uk-input" type="password" placeholder="Повторите пароль">
            </div>
        </div>

        <div class="uk-margin">
            <button class="uk-button uk-button-default">Вход
            </button>
        </div>

        <div class="uk-margin uk-margin-small-top">
            <label>
                <a href="">Уже есть аккаунт</a>
            </label>
        </div>
    </form>
</div>
</body>
</html>